@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

.separador{
    padding-bottom: 2%;
    display: flex;
}

.separador .card {
    margin-top: 30px;
    margin: auto;
}

.custom-select {
    margin-bottom: 40px;
}

.card{
    margin: 5%;
}
 
#network>li>img{
    height:32px;
}

#network {
    position: relative;
    bottom: 30px;
}

#network li img {
    cursor: pointer;
}

body{
    background-color: pink;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
 .espaco{
    padding-bottom: 2%;
 }
 .navbar{
    margin-bottom: 40px;
 }
 button{
    right: 0%;
    position: absolute;
    background-color:white;
    border-radius: 10px;
    padding: 2px 5px;

 }
 #main-footer {
    display: grid;
    grid-template-columns: 30% 20%;
    gap: 30%;
}

#main-footer ul {
    list-style: none;
    margin-bottom: 0;
}

#main-footer ul li{
    padding-top: 1%;
    font-size: clamp(0.5em, 1em, 2em);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}


#main-footer span {
    color: black;
    font-family: 'Oswald', sans-serif
}

#main-footer ul span {
    cursor: pointer;
    color: rgb(19, 19, 19);
    font-family: 'Libre Franklin', sans-serif;
}

#main-footer ul li img {
    padding-right: 2%;
    cursor: pointer;
}
#main-footer {
    display: grid;
    grid-template-columns: 30% 20%;
    gap: 30%;
}

#main-footer ul {
    list-style: none;
    margin-bottom: 0;
}

#main-footer ul li{
    padding-top: 1%;
    font-size: clamp(0.5em, 1em, 2em);
}


#main-footer span {
    color: black;
    font-family: 'Oswald', sans-serif
}

#main-footer ul li span {
    cursor: pointer;
    color: rgb(19, 19, 19);
}

#main-footer ul li img {
    padding-right: 2%;
    cursor: pointer;
}
footer {
    background-color: rgb(247, 2, 124);
    padding: 0 100px;
    width: 100%;
}
ul{
    margin: 0%;
}
#pesquisar{
    border: 2px solid aquamarine;
}
#pesquisar:hover{
background-color: palevioletred;
}
nav{
    box-shadow: 2px 2px 2px rgb(255, 10, 104);
}
.navbar{
    margin: auto;
}
.formulario{
    width: 60%;
    margin-bottom: 100px;
    margin:auto;
}

.form-group{
    width: 100%;
    
}
#enviar{
    position: relative;
    left: 0;
}
                
@media screen and (max-width: 900px) {
    .separador {
        display: grid;
        grid-template-columns: 100%;
    }

    .separador .card {
        margin-bottom: 30px;
    }

    #main-footer {
        gap: 50%;
    }

}